#root {
  width: 100vw;
}

main {
  min-height: calc(100vh - 135px);
}

main h1 {
  padding: 2rem;
}

@media (max-width: 375px) {
  #root {
    width: 100%;
  }

  main h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  main h1 {
    font-size: 2rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  main h1 {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}
